@import url(/scss/nullstyle.scss);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: Roboto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #efefef;
}
.header__column {
  margin: 15px 10px;
}
.header__link {
  color: #333333;
}

.cont-block {
  text-align: center;
}

.contacts__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1110px;
}
.contacts__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.contacts__networks-items {
  width: 50px;
  margin: 0 20px;
}
.contacts__adress {
  margin: 42px 30px 42px 70px;
  line-height: 16px;
}
.contacts__number {
  font-size: 16px;
  line-height: 19px;
  padding: 40px 5px;
  min-width: 115px;
}
.contacts__button {
  margin: 30px 25px;
}
.contacts__button-grborder {
  background-image: url("/img/buttons/grborder.svg");
  background-repeat: no-repeat;
  background-color: white;
  width: 170px;
  height: 40px;
}

.contacts-item__yt {
  background-image: url(/img/icons/youtube.svg), url(/img/icons/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: center, 50%;
  padding-top: 100px;
}
.contacts-item__vk {
  background-image: url(/img/icons/VK.svg), url(/img/icons/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: center, 50%;
  padding-top: 100px;
}
.contacts-item__fb {
  background-image: url(/img/icons/FB.png), url(/img/icons/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: center, 50%;
  padding-top: 100px;
}
.contacts-item__ig {
  background-image: url(/img/icons/instagram.svg), url(/img/icons/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: center, 50%;
  padding-top: 100px;
}

.company__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 1100px;
}

.logo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo__logo {
  margin-top: 8px;
}
.logo__text {
  color: #66c05d;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin: 30px 0 0 20px;
}

.number__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.number__button {
  margin: 30px 0 0 30px;
}

.menu-block {
  border-top: 1px solid #efefef;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__column {
  margin: 30px 20px;
}
.menu__link {
  font-style: 16px;
  color: #000000;
}

.promotion__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 604px;
  background-image: url(/img/main/Rectangle\ 2.svg);
}
.promotion__title {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  line-height: 56px;
  margin-bottom: 50px;
}
.promotion__subtitle {
  color: #ffffff;
  line-height: 20px;
  margin-bottom: 50px;
}
.promotion__button-wborder {
  background-image: url("/img/buttons/wborder.svg");
  background-repeat: no-repeat;
  width: 170px;
  height: 40px;
  letter-spacing: 0.05em;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.super__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 33%;
  padding-left: 28%;
  min-width: 320px;
}

.specials {
  background-color: #efefef;
}
.specials__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 55px;
  padding-left: 10px;
}
.specials__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.specials__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 5px 0 10px;
  margin-bottom: 20px;
}
.specials__content {
  background-color: #ffffff;
}
.specials__img {
  text-align: right;
  margin: 50px 30px 0 0;
}

.banner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1100px;
  margin: auto;
  height: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__img {
  padding: 25px 65px 20px 65px;
}
.item__name {
  line-height: 20px;
  color: #333333;
  text-align: center;
  padding: 0 30px 20px 30px;
}
.item__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
  padding-bottom: 20px;
}
.item__button {
  padding-bottom: 25px;
  text-align: center;
}
.item__button-green {
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/img/buttons/green.svg);
  width: 130px;
  height: 35px;
}

.bonuces {
  background-color: #efefef;
}
.bonuces__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bonuces__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 5px 0 10px;
  max-width: 550px;
  margin: 80px 0 70px 0;
}
.bonuces__item-2 {
  min-width: 450px;
}
.bonuces__content {
  background-image: url(/img/bonuces/Rectangle\ 4.svg);
}

.gifts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.gifts__img {
  margin: 60px 40px 0px 0px;
}
.gifts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding: 35px 0px 0px 40px;
}
.gifts__subtitle {
  line-height: 20px;
  color: #ffffff;
  margin-left: 40px;
  padding: 35px 30px 35px 0;
}
.gifts__input {
  margin: 0 0 35px 40px;
  line-height: 16px;
  letter-spacing: 0.05em;
  background-image: url(/img/buttons/input.svg);
  max-width: 225px;
  height: 35px;
}
.gifts__email {
  background-color: rgba(0, 0, 0, 0);
  margin: 9px 0 0 25px;
  width: 250px;
}
.gifts__button {
  margin: 15px 0 35px 40px;
  padding-bottom: 35px;
}
.gifts__button-wborder {
  background-image: url("/img/buttons/wborder.svg");
  background-repeat: no-repeat;
  width: 170px;
  height: 40px;
  letter-spacing: 0.05em;
  background-color: rgba(0, 0, 0, 0);
  line-height: 16px;
  color: #ffffff;
}

.footer {
  background-color: #efefef;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
}
.footer__item {
  padding: 25px 5px 25px 5px;
}
.footer__content {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}
.footer__item-2 {
  padding-left: 100px;
}